body {
    background-repeat: no-repeat;
}

.container {
    margin-top : 7rem;

}

/* .show-container{
    padding-top : 7rem!important;
} */

.show-left{
    border-right : rgb(71, 71, 71) solid 2px;
    height:100vh;
    background-color:#e1ad01
}

.btn-outline-danger{
    padding-top:0.2rem;
    padding-bottom:0.3rem;
}
.btn-outline-warning{
    padding-top:0.1rem;
    padding-bottom:0.3rem; 
    padding-left: 1.175rem;
    padding-right: 1.175rem;
}

.btn-outline-warning:hover{
    color:white;
}

.fa-times, .fa-edit, .fa-github, .fa-plus{
    font-size:1.5rem;
}
.action-btn{
    height:2.1rem;
}

.thumbnail-admin{
    height: 10rem;
    
}
.thumbnail{
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.431));
}

.project-row:nth-child(even) > .content-wrapper {
    order:1;
    
}
.project-row:nth-child(even) > .img-wrapper {
    order:2;
    
}
.category-chips{
    background-color: #e1ad01;
    border-radius: 1rem;
    padding : 1rem;
    padding-top : 0.5rem;
    padding-bottom : 0.5rem;
    color: #fff;
    font-size : 0.6rem;
    width: fit-content;
}

.row>*{
    padding:0;
}