{% extends "base.html.twig" %}

{% block body %}

<section class="container">
    <h1>Mon Portfolio</h1>



    <p>Bienvenue sur mon portfolio</p>
    <p>Je suis développeur web en formation à l'Access Code School</p>
</section>


{% endblock %}
