{% extends "base.html.twig" %}

{% block body %}
<div>
    <h2>{{ projet.title }}</h2>
    <div class="metadata">Catégorie : {{ projet.category.title }}</div>
    <div class="content">
        <img src="{{ asset('uploads/' ~ projet.image)}}" alt="">
        {{projet.description | raw}}
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quidem blanditiis nostrum exercitationem facilis, praesentium saepe tempora omnis suscipit! Commodi exercitationem explicabo accusantium minus nisi quidem distinctio recusandae nostrum tempore? Odit molestiae omnis dolores tempora. Molestias quidem itaque, natus minus, facere fugit tempora perferendis, laudantium nulla dolore repellat culpa aperiam?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quidem blanditiis nostrum exercitationem facilis, praesentium saepe tempora omnis suscipit! Commodi exercitationem explicabo accusantium minus nisi quidem distinctio recusandae nostrum tempore? Odit molestiae omnis dolores tempora. Molestias quidem itaque, natus minus, facere fugit tempora perferendis, laudantium nulla dolore repellat culpa aperiam?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quidem blanditiis nostrum exercitationem facilis, praesentium saepe tempora omnis suscipit! Commodi exercitationem explicabo accusantium minus nisi quidem distinctio recusandae nostrum tempore? Odit molestiae omnis dolores tempora. Molestias quidem itaque, natus minus, facere fugit tempora perferendis, laudantium nulla dolore repellat culpa aperiam?</p>

    </div>
</div>
{% endblock %}