{% extends "base.html.twig" %}

{% block body %}
<div>
    <h2>{{ projet.title }}</h2>
    <div class="metadata">Catégorie : {{ projet.category.title }}</div>
    <div class="content">
        <img src="{{ asset('uploads/' ~ projet.image)}}" alt="">
        {{projet.description | raw}}
            
            

    </div>
</div>
{% endblock %}