{% extends "base.html.twig" %}

{% block body %}
    <h1 class="text-center">Administration</h1>

    <a class="btn btn-primary" href="{{path('portfolio_create')}}">Ajouter un projet</a>
{% endblock %}